### Reference

- https://www.instructables.com/id/Export-data-from-google-spreadsheet-in-required-CS/
- https://medium.com/bhavaniravi/python-pandas-tutorial-92018da85a33
- [Pandas API Reference](https://pandas.pydata.org/pandas-docs/stable/reference/index.html)
- [Parsing input CSV dates](https://riptutorial.com/pandas/example/8458/parsing-date-columns-with-read-csv)
- [Convert column of dataFrame](https://stackoverflow.com/questions/17134716/convert-dataframe-column-type-from-string-to-datetime-dd-mm-yyyy-format)

### About

We're going to form a URL from three parts that will grab newest data from Google Sheets as a csv. [Reference](https://www.instructables.com/id/Export-data-from-google-spreadsheet-in-required-CS/)

Here's an example of what we'll be doing

1. https://docs.google.com/spreadsheets/d/
2. YOUR-SHEET-ID-HERE
3. /export?format=csv&id=
4. YOUR-SHEET-ID-HERE-AGAIN

In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)

1.0.1

In [2]:
spreadsheetURL = "1gIFTxjkG85r9HniPLshNGQ2AMMYXDCEzHdoprEC4C9g"

In [3]:
gs1 = "https://docs.google.com/spreadsheets/d/"
gs2 = spreadsheetURL
gs3 = "/export?format=csv&id="
gs4 = spreadsheetURL

gsURL = gs1 + gs2 + gs3 + gs4

In [4]:
df = pd.read_csv(gsURL)

In [5]:
df.head()

                Date  Weight  Trend  Factor  0.9  Days  10
0   October 29, 2018   286.0  #REF!     NaN  NaN   NaN NaN
1   November 2, 2018   285.4  #REF!     NaN  NaN   NaN NaN
2   November 9, 2018   284.0  #REF!     NaN  NaN   NaN NaN
3  November 25, 2018   288.0  #REF!     NaN  NaN   NaN NaN
4  November 28, 2018   286.6  #REF!     NaN  NaN   NaN NaN

In [6]:
df.describe()

           Weight  Factor  0.9  Days   10
count  140.000000     0.0  0.0   0.0  0.0
mean   283.545714     NaN  NaN   NaN  NaN
std      4.266624     NaN  NaN   NaN  NaN
min    275.600000     NaN  NaN   NaN  NaN
25%    280.200000     NaN  NaN   NaN  NaN
50%    283.400000     NaN  NaN   NaN  NaN
75%    285.450000     NaN  NaN   NaN  NaN
max    296.400000     NaN  NaN   NaN  NaN

In [7]:
cols = ["Date","Weight","Trend"]

In [8]:
df[cols]

                  Date  Weight  Trend
0     October 29, 2018   286.0  #REF!
1     November 2, 2018   285.4  #REF!
2     November 9, 2018   284.0  #REF!
3    November 25, 2018   288.0  #REF!
4    November 28, 2018   286.6  #REF!
..                 ...     ...    ...
135     April 21, 2020   276.5  278.7
136     April 22, 2020   276.7  278.3
137     April 23, 2020   277.8  278.3
138     April 24, 2020   276.7  277.9
139     April 25, 2020   275.6  277.5

[140 rows x 3 columns]

In [9]:
df.iloc[-10:-1]

               Date  Weight  Trend  Factor  0.9  Days  10
130  April 16, 2020   279.5  279.5     NaN  NaN   NaN NaN
131  April 17, 2020   278.9  279.4     NaN  NaN   NaN NaN
132  April 18, 2020   278.7  279.3     NaN  NaN   NaN NaN
133  April 19, 2020   279.1  279.3     NaN  NaN   NaN NaN
134  April 20, 2020   278.9  279.2     NaN  NaN   NaN NaN
135  April 21, 2020   276.5  278.7     NaN  NaN   NaN NaN
136  April 22, 2020   276.7  278.3     NaN  NaN   NaN NaN
137  April 23, 2020   277.8  278.3     NaN  NaN   NaN NaN
138  April 24, 2020   276.7  277.9     NaN  NaN   NaN NaN

## get last n items

In [10]:
n = 10
df.iloc[-n:]

               Date  Weight  Trend  Factor  0.9  Days  10
130  April 16, 2020   279.5  279.5     NaN  NaN   NaN NaN
131  April 17, 2020   278.9  279.4     NaN  NaN   NaN NaN
132  April 18, 2020   278.7  279.3     NaN  NaN   NaN NaN
133  April 19, 2020   279.1  279.3     NaN  NaN   NaN NaN
134  April 20, 2020   278.9  279.2     NaN  NaN   NaN NaN
135  April 21, 2020   276.5  278.7     NaN  NaN   NaN NaN
136  April 22, 2020   276.7  278.3     NaN  NaN   NaN NaN
137  April 23, 2020   277.8  278.3     NaN  NaN   NaN NaN
138  April 24, 2020   276.7  277.9     NaN  NaN   NaN NaN
139  April 25, 2020   275.6  277.5     NaN  NaN   NaN NaN

## get last n items of filtered set

In [11]:
n = 10
cols = ["Date","Weight","Trend"]
df[cols].iloc[-n:]

               Date  Weight  Trend
130  April 16, 2020   279.5  279.5
131  April 17, 2020   278.9  279.4
132  April 18, 2020   278.7  279.3
133  April 19, 2020   279.1  279.3
134  April 20, 2020   278.9  279.2
135  April 21, 2020   276.5  278.7
136  April 22, 2020   276.7  278.3
137  April 23, 2020   277.8  278.3
138  April 24, 2020   276.7  277.9
139  April 25, 2020   275.6  277.5

## Convert date string to datetime object
## Convert Trend column from string to numeric

In [12]:
df['Date'] = pd.to_datetime(df['Date'])
df['Trend'] = pd.to_numeric(df['Trend'])

ValueError: Unable to parse string "#REF!" at position 0

In [ ]:
n = 30
thisMonth = df[cols].iloc[-n:]

In [ ]:
thisMonth.plot()

In [ ]:
ex=thisMonth["Date"].iloc[1]
type(ex)

In [ ]:
pd.to_datetime(ex)

In [ ]:
thisMonth.plot(x="Date")

## Get Dates for range

In [ ]:
startDate = pd.to_datetime("April 1, 2020")
endDate = pd.Timestamp.now()
domain = (startDate,endDate)

In [ ]:
type(endDate)

In [ ]:
thisMonth.plot.line(figsize=(10,6),x = "Date", legend=True, xlim=domain)

In [ ]:
()